* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ddd url(../images/alum.png);
}
a {
    text-decoration: none;
}

.container {
    text-align: center;
}
#rows {
    display: inline-block;
}
.row {
    margin: 12px 0;
}
.row > kbd {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    width: 70px;
    height: 70px;
    padding: 4px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    background-color: #000;
    color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.row > kbd:not(:first-child) {
    margin-left: 12px;
}
.row > kbd > button {
    position: absolute;
    right: 4px;
    bottom: 4px;
    display: none;
}
.row > kbd:hover > button {
    display: inline-block;
}
.row > kbd > img {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 16px;
}